= form_for(answer, url: question_answer_path(answer.question, answer), remote: true) do |f|
  = f.hidden_field :user_id
  = f.hidden_field :question_id
  .edit-container
    .preview
      プレビュー
      .preview-text
    .field.edit
      = f.text_area :body
  .actions
    .btn-group.btn-group-sm
      = f.submit '保存', class: 'btn btn-default'
      %button.answer-edit-cancel-link.btn.btn-default キャンセル
