= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.hidden_field :user_id
  .field
    = f.label :title, 'タイトル'
    %br
    = f.text_field :title
  = render partial: 'questions/md_edit', locals: { label_text: '質問文', f: f }
  .actions
    .btn-group.btn-group-sm
      = f.submit '保存', class: 'btn btn-default'
      - if @question.persisted?
        = link_to 'キャンセル', @question, class: 'btn btn-default'
