= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.hidden_field :user_id
  .field
    = f.label :title, 'タイトル'
    %br
    = f.text_field :title
  .md-edit-container
    .md-edit-column
      .md-edit-header
        = f.label :body, '本文', class: 'md-header-text'
      = f.text_area :body, class: 'md-edit'
    .md-preview-column
      .md-preview-header
        = f.label 'プレビュー', class: 'md-header-text'
      .md-preview
  .actions
    = f.submit '保存'
