= render partial: 'shared/second_nav_bar', locals: { page_name: 'questions' }
%ul.nav.nav-tabs{role:'tablist'}
  %li{class: tab_class('newest', @sort_type)}= link_to '新着', url_for(sort: :newest)
  %li{class: tab_class('active', @sort_type)}= link_to '最近の更新', url_for(sort: :active)
  %li{class: tab_class('votes', @sort_type)}= link_to '得票順', url_for(sort: :votes)
#questions
  - @questions.each do |question|
    .question-summary
      .stats-container
        .stats
          .vote-stats
            %span.vote-count>= question.cached_votes_score
            %span.vote-unit 票
          .answer-stats{class: answer_stats_class(question) }
            %span.answer-count>= question.answers_count
            %span.answer-unit 答
      .summary
        %h3= link_to question.title, question
        .excerpt= truncate(question.body, length: 100)
        = render partial: 'shared/tag_list', locals: { question: question }
        .user-info= question.user.email
        .footer
          回答: #{question.created_at}
          更新: #{question.updated_at}

= paginate @questions
