%h2= @question.title
%table
  %tbody
    %tr
      %td.votecell
        .question-upvote{data: {url: upvote_question_path(@question)}}= icon('caret-up', '', class: 'fa-3x')
        .question-vote-sum= @question.vote_sum
        .question-downvote{data: {url: downvote_question_path(@question)}}= icon('caret-down', '', class: 'fa-3x')
      %td
        .question-text
          = @question.body

        .question-footer
          - if @question.user == current_user
            = link_to '編集', edit_question_path(@question)
            \|
            = link_to '削除', @question, method: :delete, data: { confirm: '質問を削除してもよろしいですか？' }

.answers-header
  回答数: #{@question.answers.count}

= div_for(@question.answers.select(&:persisted?)) do |answer|
  %table
    %tbody
      %tr
        %td.votecell
          .accepted{class: accepted_answer_class(@question, answer),
            data: { accept_url: accept_question_answer_path(@question, answer),
             unaccept_url: unaccept_question_answer_path(@question, answer) }}
            = icon('check', '', class: 'fa-2x')
        %td
          .answer-text
            = answer.body
          - if answer.user == current_user
            .answer-edit-form-container
              .answer-edit-form
                = render partial: 'questions/answer_edit_form', locals: { answer: answer }
              = link_to 'キャンセル', '#', class: 'answer-edit-cancel-link'
            .answer-links
              = link_to '編集', '#', class: 'answer-edit-link'
              = link_to '削除', question_answer_path(@question, answer),
                method: :delete,
                data: { confirm: '削除してもよろしいですか？' },
                class: 'answer-delete-link'
          .answer-footer
            回答: #{answer.created_at}
            更新: #{answer.updated_at}
            %br
            = answer.user.email
- if user_signed_in?
  .new-answer-form
    = form_for(@answer, url: question_answers_path(@question)) do |f|
      - if @answer.errors.any?
        #error_explanation
          %h2= "入力にエラーがあるため回答できませんでした"
          %ul
            - @answer.errors.full_messages.each do |msg|
              %li= msg
      = f.hidden_field :user_id
      = f.hidden_field :question_id
      .field
        = f.label 'あなたの回答'
        %br
        = f.text_area :body
      .actions
        = f.submit '回答する'
