%h2= @question.title
.question
  %table
    %tbody
      %tr
        %td.votecell
          %div{data: {url: upvote_question_path(@question)}, class: vote_arrow_class(@question, 1)}= icon('caret-up', '', class: 'fa-3x')
          .votes-score= @question.votes_score
          %div{data: {url: downvote_question_path(@question)}, class: vote_arrow_class(@question, -1)}= icon('caret-down', '', class: 'fa-3x')
        %td.md-container
          .md-plain>= preserve(html_escape(@question.body))
          .question-text.md-formatted
          .question-footer
            - if @question.user == current_user
              = link_to '編集', edit_question_path(@question)
              \|
              = link_to '削除', @question, method: :delete, data: { confirm: '質問を削除してもよろしいですか？' }

.answers-header
  回答数: #{@question.answers.count}

= div_for(@question.answers.select(&:persisted?)) do |answer|
  %table.answer-container
    %tbody
      %tr
        %td.votecell
          %div{data: {url: upvote_question_answer_path(@question, answer)}, class: vote_arrow_class(answer, 1)}= icon('caret-up', '', class: 'fa-3x')
          .votes-score= answer.votes_score
          %div{data: {url: downvote_question_answer_path(@question, answer)}, class: vote_arrow_class(answer, -1)}= icon('caret-down', '', class: 'fa-3x')
          .accepted{class: accepted_answer_class(@question, answer),
            data: { accept_url: accept_question_answer_path(@question, answer),
             unaccept_url: unaccept_question_answer_path(@question, answer) }}
            = icon('check', '', class: 'fa-2x')
        %td.md-container
          .md-plain>= preserve(html_escape(answer.body))
          .answer-text.md-formatted
          - if answer.user == current_user
            .answer-edit-form-container
              .answer-edit-form
                = render partial: 'questions/answer_edit_form', locals: { answer: answer }
            .answer-links
              = link_to '編集', '#', class: 'answer-edit-link'
              \|
              = link_to '削除', question_answer_path(@question, answer),
                method: :delete,
                data: { confirm: '削除してもよろしいですか？' },
                class: 'answer-delete-link'
          .answer-footer
            回答: #{answer.created_at}
            更新: #{answer.updated_at}
            %br
            = answer.user.email
- if user_signed_in?
  .new-answer-form
    = form_for(@answer, url: question_answers_path(@question)) do |f|
      - if @answer.errors.any?
        #error_explanation
          %h2= "入力にエラーがあるため回答できませんでした"
          %ul
            - @answer.errors.full_messages.each do |msg|
              %li= msg
      = f.hidden_field :user_id
      = f.hidden_field :question_id
      .md-edit-container
        .md-edit-column
          .md-edit-header
            = f.label :body, 'あなたの回答', class: 'md-header-text'
          = f.text_area :body, class: 'md-edit'
        .md-preview-column
          .md-preview-header
            =f.label 'プレビュー', class: 'md-header-text'
          .md-preview
      .actions
        = f.submit '回答する', class: 'btn btn-default'
