= render partial: 'shared/second_nav_bar', locals: { page_name: 'questions'}
%h2= @question.title
.question
  = render @question
.answers-header
  回答数: #{@question.answers.count}
= div_for(@question.answers.select(&:persisted?)) do |answer|
  = render answer, question: @question
- if user_signed_in?
  = render partial: 'answers/new_form', locals: { question: @question, answer: @answer }
